* {
  margin: 0;
  font-family:'Roboto', sans-serif;
}
body {
  height: 100%;
}

h1 {
  font-size: 80px;
  font-weight: 500;
}

h2 {
  text-transform: uppercase;
  font-weight: 400;
}

p {
  font-size: 13px;
  font-weight: 100;
}

footer {
  margin: 80px;
}


